body {
  line-height: 1.5 !important;
  font-size: 1.2rem !important;
}

.article {
  max-width: 800px;
  margin: auto;
}

.tags a {
  color: #333;
  background-color: #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.tags a:hover {
  color: #333;
  background-color: #ddd;
  border-radius: 5px;
  text-decoration: none;
}