@font-face {
	font-family: "PT-Sans-Bold";
	src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
	font-family: "PT-Sans-Regular";
	src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
	font-family: "PT-Sans-Italic";
	src: url(../fonts/PT_Sans-Web-Italic.ttf);
}

body {
	font-family: "PT-Sans-Regular";
	line-height: 1.5 !important;
	font-size: 1.2rem !important;
}

.article {
	max-width: 800px;
	margin: auto;
}

img {
	max-width: 100%;
	margin: 1em 0;
}

.tags a {
	color: #333;
	background-color: #ddd;
	border-radius: 5px;
	font-size: 1rem;
}

.tags a:hover {
	color: #333;
	background-color: #ddd;
	border-radius: 5px;
	text-decoration: none;
}

.codehilite {
	padding: 1em 1em 0.1em;
	border-radius: 10px;
	background: #eee;
	margin-bottom: 1em;
	position: relative;
}

p code {
	background: #ddd;
	display: inline;
	padding: 0.3em 0.5em;
	border-radius: 5px;
	color: #333;
}

.excerpt {
	font-size: 1.3rem;
}

.codehilite .copy-btn {
	color: #333;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: .5rem;
	margin-right: .5rem;
	border-radius: 6px;
	border: 2px solid #333;
}
