{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %}

  <h3>Post Preview</h3>
  <div class="card p-3">
    <h1>{{ preview.title }}</h1>
    <div class="row py-3">
      <div class="tags col-6">
        {% comment %}
        {% for tag in post.tags.all %}
        <a class="mr-2 p-2" href="{% url 'posts:tag-detail' tag.slug %}">
          {{ tag }}
        </a>
        {% endfor %}
        {% endcomment %}
      </div>
    </div>
    <div class="py-3 excerpt">
      <b>{{ preview.excerpt }}</b>
    </div>
    <div>
      {{ preview.content | markdown |safe }}
    </div>
  </div>

{% endblock content %}
